@font-face {
    font-family: 'Jersey';
    src: url("../../../../../public/fonts/jersey/JerseyM54-aLX9.ttf");
}

@font-face {
    font-family: 'Pixel';
    src: url("../../../../../public/fonts/pixel/PixelEmulator-xq08.ttf");
}

.game {
    width: 800px;
    height: 600px;
    border: 1px solid RGB(6,6,6);
    border-radius: 10% 25% 10% 25%;
    background: url('../../../../../public/800x600-1x2x.jpg') no-repeat;
    background-size: contain;
    color: RGB(233,233,233);
    font-family: 'Pixel';
    position: absolute;
    font-size: 48px;
}

.scroll {
    height: 90%;
    width: 15%;
    overflow-y: hidden;
    float: right;
    margin: 0px 3px;
}

.scroll-up-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent; /* 5px 10px*/
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
}

.scroll-down-arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.scroll-up, .scroll-down{
    height: 10%;
    border: 2px solid RGB(233,233,233);
    background-color: RGB(6,6,6);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-width 0.2s;
}

.scroll-up:hover, .scroll-down:hover{
    border-color: RGB(100,100,100);
}

.scroll-body {
    height: 77%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.right-arrow{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 7px solid red;
    border-bottom: 5px solid transparent;
    margin-right: 4px;
}

@keyframes becomeVisible {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

.scroll-item {
    height: 18%;
    border: 2px solid rgb(168, 161, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: RGB(6,6,6);
    font-size: 100%;
    position: relative;
    transition: top 2s, width 0.2s;
}

.scroll-item:hover {
    color: red;   
    border-color: RGB(100,100,100);
}

.scroll-item-big {
    width: 85%;
}

.scroll-item-big:hover{
    width: 90%;
}

.scroll-item-small:hover{
    width: 70%;
}

.scroll-item-small{
    width: 75%;
}

.scroll-item-content {
    animation: 0.25s ease-out 0s 1 becomeVisible;
}

.word-grid {
    height: 100%;
    width: 70%;
    margin: 0px 0px 0px 20px;
    display: inline-grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 40px 40px 40px 40px 40px;
}

.word-grid-item {
    display: grid;
    grid-template-columns: 25px;
    grid-template-rows: 30px 10px;
}

.bar {
    height: 5px;
    width: 20px;
    background: url("../../../../../public/gamebar1x.jpg");
    animation: 3s ease-out 0s 1 becomeVisible forwards;
    margin: 0 auto;
    visibility: hidden;
}

@keyframes shiftLetter {
    0% {
        visibility: visible;
        margin: -100px;
    }
    100% {
        visibility: visible;
        margin: 6px auto;
        /* 3 differenct effects we can do 
            1. margin: 6px;
            2. margin: 6px auto;
            3. remove margin add
                display: flex;
                justify-content: center;
                align-items: center;
        */
    }
  }

.letter {
    visibility: hidden;
    font-size: 93%;
    margin: -100px;
    animation: 0.3s ease-out 0s 1 shiftLetter forwards;
}

.word-grid-item:nth-of-type(1) .letter{ animation-delay: 0.8s; } 
.word-grid-item:nth-of-type(2) .letter{ animation-delay: 0.3s; } 
.word-grid-item:nth-of-type(3) .letter{ animation-delay: 0.16s; } 
.word-grid-item:nth-of-type(4) .letter{ animation-delay: 0.24s; } 
.word-grid-item:nth-of-type(5) .letter{ animation-delay: 0.5s; } 
.word-grid-item:nth-of-type(6) .letter{ animation-delay: 0.1s; }
.word-grid-item:nth-of-type(7) .letter{ animation-delay: 0.5s; } 
.word-grid-item:nth-of-type(8) .letter{ animation-delay: 0.7s; } 
.word-grid-item:nth-of-type(9) .letter{ animation-delay: 0.54s; } 
.word-grid-item:nth-of-type(10) .letter{ animation-delay: 0.20s; } 
.word-grid-item:nth-of-type(11) .letter{ animation-delay: 0.50s; } 
.word-grid-item:nth-of-type(12) .letter{ animation-delay: 0.62s; }
.word-grid-item:nth-of-type(13) .letter{ animation-delay: 0.33s; } 
.word-grid-item:nth-of-type(14) .letter{ animation-delay: 0.82s; } 
.word-grid-item:nth-of-type(15) .letter{ animation-delay: 0.1s; }
.word-grid-item:nth-of-type(16) .letter{ animation-delay: 0.45s; } 
.word-grid-item:nth-of-type(17) .letter{ animation-delay: 0.20s; } 
.word-grid-item:nth-of-type(18) .letter{ animation-delay: 0.77s; }
.word-grid-item:nth-of-type(19) .letter{ animation-delay: 0.30s; } 
.word-grid-item:nth-of-type(20) .letter{ animation-delay: 0.55s; }
.word-grid-item:nth-of-type(21) .letter{ animation-delay: 0.2s; } 
.word-grid-item:nth-of-type(22) .letter{ animation-delay: 0.63s; } 
.word-grid-item:nth-of-type(23) .letter{ animation-delay: 0.16s; } 
.word-grid-item:nth-of-type(24) .letter{ animation-delay: 0.5s; } 
.word-grid-item:nth-of-type(25) .letter{ animation-delay: 0.23s; } 
.word-grid-item:nth-of-type(26) .letter{ animation-delay: 0.6s; }
.word-grid-item:nth-of-type(27) .letter{ animation-delay: 0.1s; } 
.word-grid-item:nth-of-type(28) .letter{ animation-delay: 0.64s; } 
.word-grid-item:nth-of-type(29) .letter{ animation-delay: 0.30s; } 
.word-grid-item:nth-of-type(30) .letter{ animation-delay: 0.73s; } 
.word-grid-item:nth-of-type(31) .letter{ animation-delay: 0.30s; } 
.word-grid-item:nth-of-type(32) .letter{ animation-delay: 0.1s; }
.word-grid-item:nth-of-type(33) .letter{ animation-delay: 0.33s; } 
.word-grid-item:nth-of-type(34) .letter{ animation-delay: 0.70s; } 
.word-grid-item:nth-of-type(35) .letter{ animation-delay: 0.22s; }
.word-grid-item:nth-of-type(36) .letter{ animation-delay: 0.75s; } 
.word-grid-item:nth-of-type(37) .letter{ animation-delay: 0.26s; } 
.word-grid-item:nth-of-type(38) .letter{ animation-delay: 0.58s; }
.word-grid-item:nth-of-type(39) .letter{ animation-delay: 0.33s; } 
.word-grid-item:nth-of-type(40) .letter{ animation-delay: 0.66s; }

.word-grid-item:nth-of-type(1) .bar{ animation-delay: 0.8s; } 
.word-grid-item:nth-of-type(2) .bar{ animation-delay: 0.3s; } 
.word-grid-item:nth-of-type(3) .bar{ animation-delay: 0.16s; } 
.word-grid-item:nth-of-type(4) .bar{ animation-delay: 0.24s; } 
.word-grid-item:nth-of-type(5) .bar{ animation-delay: 0.5s; } 
.word-grid-item:nth-of-type(6) .bar{ animation-delay: 0.1s; }
.word-grid-item:nth-of-type(7) .bar{ animation-delay: 0.5s; } 
.word-grid-item:nth-of-type(8) .bar{ animation-delay: 0.7s; } 
.word-grid-item:nth-of-type(9) .bar{ animation-delay: 0.54s; } 
.word-grid-item:nth-of-type(10) .bar{ animation-delay: 0.20s; } 
.word-grid-item:nth-of-type(11) .bar{ animation-delay: 0.50s; } 
.word-grid-item:nth-of-type(12) .bar{ animation-delay: 0.62s; }
.word-grid-item:nth-of-type(13) .bar{ animation-delay: 0.33s; } 
.word-grid-item:nth-of-type(14) .bar{ animation-delay: 0.82s; } 
.word-grid-item:nth-of-type(15) .bar{ animation-delay: 0.1s; }
.word-grid-item:nth-of-type(16) .bar{ animation-delay: 0.45s; } 
.word-grid-item:nth-of-type(17) .bar{ animation-delay: 0.20s; } 
.word-grid-item:nth-of-type(18) .bar{ animation-delay: 0.77s; }
.word-grid-item:nth-of-type(19) .bar{ animation-delay: 0.30s; } 
.word-grid-item:nth-of-type(20) .bar{ animation-delay: 0.55s; }
.word-grid-item:nth-of-type(21) .bar{ animation-delay: 0.2s; } 
.word-grid-item:nth-of-type(22) .bar{ animation-delay: 0.63s; } 
.word-grid-item:nth-of-type(23) .bar{ animation-delay: 0.16s; } 
.word-grid-item:nth-of-type(24) .bar{ animation-delay: 0.5s; } 
.word-grid-item:nth-of-type(25) .bar{ animation-delay: 0.23s; } 
.word-grid-item:nth-of-type(26) .bar{ animation-delay: 0.6s; }
.word-grid-item:nth-of-type(27) .bar{ animation-delay: 0.1s; } 
.word-grid-item:nth-of-type(28) .bar{ animation-delay: 0.64s; } 
.word-grid-item:nth-of-type(29) .bar{ animation-delay: 0.30s; } 
.word-grid-item:nth-of-type(30) .bar{ animation-delay: 0.73s; } 
.word-grid-item:nth-of-type(31) .bar{ animation-delay: 0.30s; } 
.word-grid-item:nth-of-type(32) .bar{ animation-delay: 0.1s; }
.word-grid-item:nth-of-type(33) .bar{ animation-delay: 0.33s; } 
.word-grid-item:nth-of-type(34) .bar{ animation-delay: 0.70s; } 
.word-grid-item:nth-of-type(35) .bar{ animation-delay: 0.22s; }
.word-grid-item:nth-of-type(36) .bar{ animation-delay: 0.75s; } 
.word-grid-item:nth-of-type(37) .bar{ animation-delay: 0.26s; } 
.word-grid-item:nth-of-type(38) .bar{ animation-delay: 0.58s; }
.word-grid-item:nth-of-type(39) .bar{ animation-delay: 0.33s; } 
.word-grid-item:nth-of-type(40) .bar{ animation-delay: 0.66s; }

.find-next-game {
    font-size: 50%;
    color: RGB(233,233,233);
    width: 68%;
    height: 13%;
    margin: 3% 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-next-game:hover {
    color: RGB(100,100,100);
}

.progress-good{
    color: green;
}

.progress-caution{
    color: yellow;
}

.progress-bad{
    color: red;
}

.turn {
    font-size: 400%; /* 400% */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jersey';
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.players {
    display: flex;
    height: 14%;
    align-items: center;
    font-size: 50%;
    width: 69%;
}

.player {
    display: flex;
    align-items: center;
    width: 38%;
}

.you {
    display: flex;
    align-items: center;
    width: 24%;
}

.latency{
    font-size: 50%;
    margin-left: 4%;
    margin-top: 6%;
    float: left;
    width: 10%;
}

img.skull{
    width: 2.5em;
    height: 2.5em; 
}
img.smiley{
    width: 1.5em;
    height: 1.5em;
}

.wrong {
    color: red;
}

.wrong-guesses-grid{
    display: inline-grid;
    font-size: 93%; /* 93 */
    grid-template-columns: 100%;
    grid-template-rows: 17% 17% 17% 17% 17% 16%;
    height: 100%;
    width: 11%;
    margin-left: 12%;
    margin-right: 12%;
}

.wrong-guesses-grid-item{
    text-align: center;
}

.wrong-guesses-grid-item:nth-child(1){
    border-bottom: 1px solid RGB(233,233,233);
    border-right: 2px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(2){
    border-top: 1px solid RGB(233,233,233);
    border-left: 2px solid RGB(233,233,233);
    border-bottom: 1px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(3){
    border-top: 1px solid RGB(233,233,233);
    border-right: 2px solid RGB(233,233,233);
    border-bottom: 1px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(4){
    border-bottom: 1px solid RGB(233,233,233);
    border-left: 2px solid RGB(233,233,233);
    border-top: 1px solid RGB(233,233,233);
}
.wrong-guesses-grid-item:nth-child(5){
    border-top: 1px solid RGB(233,233,233);
    border-right: 2px solid RGB(233,233,233);
    border-bottom: 1px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(6){
    border-top: 1px solid RGB(233,233,233);
    border-left: 2px solid RGB(233,233,233);
}

.main-container{
    display: flex;   
    align-items: center;
    height: 69%;
    width: 83%;
}

.search {
    width: 400px;
    height: 300px;
    border: 1px solid RGB(6,6,6);
    border-radius: 10% 25% 10% 25%;
    background-color: RGBA(6,6,6, 0.5);
    position: absolute;
    top: 0px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-search{
    visibility: hidden;
}