.game {
    width: 400px;
    height: 300px;
    border: 1px solid RGB(6,6,6);
    border-radius: 10% 25% 10% 25%;
    background: url('../../../../../public/800x600-1x2x.jpg') no-repeat;
    background-size: contain;
    color: RGB(233,233,233);
}

.scroll {
    height: 90%;
    width: 60px;
    overflow-y: hidden;
    float: right;
    margin: 0px 3px;
}

.scroll-up-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
}

.right-arrow{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 7px solid RGB(100,100,100);
    border-bottom: 5px solid transparent;
}

.scroll-down-arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.scroll-up, .scroll-down{
    height: 10%;
    border: 2px solid RGB(233,233,233);
    background-color: RGB(6,6,6);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-body {
    height: 77%;
}

@keyframes becomeVisible {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.scroll-item {
    height: 18%;
    border: 2px solid rgb(168, 161, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: RGB(6,6,6);
}

.scroll-item-content {
    animation: 0.25s ease-out 0s 1 becomeVisible;
}

.word-container {
    height: 200px;
    width: 200px;
    margin: 2px 130px 0px;
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 40px 40px 40px 40px 40px;
}

.letter-container {
    display: grid;
    grid-template-columns: 25px;
    grid-template-rows: 30px 10px;
}

.bar {
    height: 5px;
    width: 20px;
    margin: 0 auto;
    background: url("../../../../../public/gamebar1x.jpg");
    animation: 3s ease-out 0s 1 becomeVisible;
}

@keyframes shiftLetter {
    0% {
      visibility: visible;
      margin: -100px;
    }
    100% {
        visibility: visible;
      margin: 10px;
    }
  }

.letter {
    visibility: hidden;
    animation: 0.3s ease-out 0s 1 shiftLetter forwards;
}

.letter-container:nth-of-type(1) .letter{ animation-delay: 0.8s; } 
.letter-container:nth-of-type(2) .letter{ animation-delay: 0.3s; } 
.letter-container:nth-of-type(3) .letter{ animation-delay: 0.16s; } 
.letter-container:nth-of-type(4) .letter{ animation-delay: 0.24s; } 
.letter-container:nth-of-type(5) .letter{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(6) .letter{ animation-delay: 0.1s; }
.letter-container:nth-of-type(7) .letter{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(8) .letter{ animation-delay: 0.56s; } 
.letter-container:nth-of-type(9) .letter{ animation-delay: 0.64s; } 
.letter-container:nth-of-type(10) .letter{ animation-delay: 0.20s; } 
.letter-container:nth-of-type(11) .letter{ animation-delay: 0.50s; } 
.letter-container:nth-of-type(12) .letter{ animation-delay: 0.62s; }
.letter-container:nth-of-type(13) .letter{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(14) .letter{ animation-delay: 0.82s; } 
.letter-container:nth-of-type(15) .letter{ animation-delay: 0.1s; }
.letter-container:nth-of-type(16) .letter{ animation-delay: 0.45s; } 
.letter-container:nth-of-type(17) .letter{ animation-delay: 0.20s; } 
.letter-container:nth-of-type(18) .letter{ animation-delay: 0.85s; }
.letter-container:nth-of-type(19) .letter{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(20) .letter{ animation-delay: 0.55s; }
.letter-container:nth-of-type(21) .letter{ animation-delay: 0.2s; } 
.letter-container:nth-of-type(22) .letter{ animation-delay: 0.63s; } 
.letter-container:nth-of-type(23) .letter{ animation-delay: 0.16s; } 
.letter-container:nth-of-type(24) .letter{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(25) .letter{ animation-delay: 0.23s; } 
.letter-container:nth-of-type(26) .letter{ animation-delay: 0.6s; }
.letter-container:nth-of-type(27) .letter{ animation-delay: 0.1s; } 
.letter-container:nth-of-type(28) .letter{ animation-delay: 0.64s; } 
.letter-container:nth-of-type(29) .letter{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(30) .letter{ animation-delay: 0.80s; } 
.letter-container:nth-of-type(31) .letter{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(32) .letter{ animation-delay: 0.1s; }
.letter-container:nth-of-type(33) .letter{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(34) .letter{ animation-delay: 0.70s; } 
.letter-container:nth-of-type(35) .letter{ animation-delay: 0.22s; }
.letter-container:nth-of-type(36) .letter{ animation-delay: 0.75s; } 
.letter-container:nth-of-type(37) .letter{ animation-delay: 0.26s; } 
.letter-container:nth-of-type(38) .letter{ animation-delay: 0.58s; }
.letter-container:nth-of-type(39) .letter{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(40) .letter{ animation-delay: 0.66s; }


.findNextGame {
    border: 2px solid RGB(233,233,233);
    width: 230px;
    height: 30px;
    margin: 20px 75px;
    border-radius: 10% 25% 10% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}