@font-face {
    font-family: 'Jersey';
    src: url("../../../../../public/justme54s_jersey-m54/JerseyM54-aLX9.ttf");
}

@font-face {
    font-family: 'Pixel';
    src: url("../../../../../public/pixel-sagas_pixel-emulator/PixelEmulator-xq08.ttf");
}

.game {
    width: 400px;
    height: 300px;
    border: 1px solid RGB(6,6,6);
    border-radius: 10% 25% 10% 25%;
    background: url('../../../../../public/800x600-1x2x.jpg') no-repeat;
    background-size: contain;
    color: RGB(233,233,233);
    font-family: 'Pixel';
    position: absolute;
}

.scroll {
    height: 90%;
    width: 60px;
    overflow-y: hidden;
    float: right;
    margin: 0px 3px;
}

.scroll-up-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
}

.right-arrow{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 7px solid red;
    border-bottom: 5px solid transparent;
    margin-right: 4px;
}

.scroll-down-arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.scroll-up, .scroll-down{
    height: 10%;
    border: 2px solid RGB(233,233,233);
    background-color: RGB(6,6,6);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-width 0.2s;
}

.scroll-up:hover, .scroll-down:hover{
    border-color: RGB(100,100,100);
}

.scroll-body {
    height: 77%;
    text-align: center;
    overflow: hidden;
}

@keyframes becomeVisible {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

.scroll-item {
    height: 18%;
    border: 2px solid rgb(168, 161, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: RGB(6,6,6);
    font-size: 24px;
    margin: 0px auto;
    position: relative;
    transition: top 2s, width 0.2s;
}

.scroll-item:hover {
    color: red;   
    border-color: RGB(100,100,100);
}

.scroll-item-big {
    width: 85%;
}

.scroll-item-big:hover{
    width: 90%;
}

.scroll-item-small:hover{
    width: 70%;
}

.scroll-item-small{
    width: 75%;
}

/*
.scroll-item:nth-child(even){
    width: 93%;
}
*/
.scroll-item-content {
    animation: 0.25s ease-out 0s 1 becomeVisible;
}


.word-container {
    height: 200px;
    width: 200px;
    margin: 0px 0px 0px 20px;
    display: inline-grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 40px 40px 40px 40px 40px;
}

.letter-container {
    display: grid;
    grid-template-columns: 25px;
    grid-template-rows: 30px 10px;
}

.bar {
    height: 5px;
    width: 20px;
    background: url("../../../../../public/gamebar1x.jpg");
    animation: 3s ease-out 0s 1 becomeVisible forwards;
    margin: 0 auto;
    visibility: hidden;
}

@keyframes shiftLetter {
    0% {
        visibility: visible;
        margin: -100px;
    }
    100% {
        visibility: visible;
        margin: 6px auto;
        /* 3 differenct effects we can do 
            1. margin: 6px;
            2. margin: 6px auto;
            3. remove margin add
                display: flex;
                justify-content: center;
                align-items: center;
        */
    }
  }

.letter {
    visibility: hidden;
    font-size: 22px;
    margin: -100px;
    animation: 0.3s ease-out 0s 1 shiftLetter forwards;
}

.letter-container:nth-of-type(1) .letter{ animation-delay: 0.8s; } 
.letter-container:nth-of-type(2) .letter{ animation-delay: 0.3s; } 
.letter-container:nth-of-type(3) .letter{ animation-delay: 0.16s; } 
.letter-container:nth-of-type(4) .letter{ animation-delay: 0.24s; } 
.letter-container:nth-of-type(5) .letter{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(6) .letter{ animation-delay: 0.1s; }
.letter-container:nth-of-type(7) .letter{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(8) .letter{ animation-delay: 0.7s; } 
.letter-container:nth-of-type(9) .letter{ animation-delay: 0.54s; } 
.letter-container:nth-of-type(10) .letter{ animation-delay: 0.20s; } 
.letter-container:nth-of-type(11) .letter{ animation-delay: 0.50s; } 
.letter-container:nth-of-type(12) .letter{ animation-delay: 0.62s; }
.letter-container:nth-of-type(13) .letter{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(14) .letter{ animation-delay: 0.82s; } 
.letter-container:nth-of-type(15) .letter{ animation-delay: 0.1s; }
.letter-container:nth-of-type(16) .letter{ animation-delay: 0.45s; } 
.letter-container:nth-of-type(17) .letter{ animation-delay: 0.20s; } 
.letter-container:nth-of-type(18) .letter{ animation-delay: 0.77s; }
.letter-container:nth-of-type(19) .letter{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(20) .letter{ animation-delay: 0.55s; }
.letter-container:nth-of-type(21) .letter{ animation-delay: 0.2s; } 
.letter-container:nth-of-type(22) .letter{ animation-delay: 0.63s; } 
.letter-container:nth-of-type(23) .letter{ animation-delay: 0.16s; } 
.letter-container:nth-of-type(24) .letter{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(25) .letter{ animation-delay: 0.23s; } 
.letter-container:nth-of-type(26) .letter{ animation-delay: 0.6s; }
.letter-container:nth-of-type(27) .letter{ animation-delay: 0.1s; } 
.letter-container:nth-of-type(28) .letter{ animation-delay: 0.64s; } 
.letter-container:nth-of-type(29) .letter{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(30) .letter{ animation-delay: 0.73s; } 
.letter-container:nth-of-type(31) .letter{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(32) .letter{ animation-delay: 0.1s; }
.letter-container:nth-of-type(33) .letter{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(34) .letter{ animation-delay: 0.70s; } 
.letter-container:nth-of-type(35) .letter{ animation-delay: 0.22s; }
.letter-container:nth-of-type(36) .letter{ animation-delay: 0.75s; } 
.letter-container:nth-of-type(37) .letter{ animation-delay: 0.26s; } 
.letter-container:nth-of-type(38) .letter{ animation-delay: 0.58s; }
.letter-container:nth-of-type(39) .letter{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(40) .letter{ animation-delay: 0.66s; }

.letter-container:nth-of-type(1) .bar{ animation-delay: 0.8s; } 
.letter-container:nth-of-type(2) .bar{ animation-delay: 0.3s; } 
.letter-container:nth-of-type(3) .bar{ animation-delay: 0.16s; } 
.letter-container:nth-of-type(4) .bar{ animation-delay: 0.24s; } 
.letter-container:nth-of-type(5) .bar{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(6) .bar{ animation-delay: 0.1s; }
.letter-container:nth-of-type(7) .bar{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(8) .bar{ animation-delay: 0.7s; } 
.letter-container:nth-of-type(9) .bar{ animation-delay: 0.54s; } 
.letter-container:nth-of-type(10) .bar{ animation-delay: 0.20s; } 
.letter-container:nth-of-type(11) .bar{ animation-delay: 0.50s; } 
.letter-container:nth-of-type(12) .bar{ animation-delay: 0.62s; }
.letter-container:nth-of-type(13) .bar{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(14) .bar{ animation-delay: 0.82s; } 
.letter-container:nth-of-type(15) .bar{ animation-delay: 0.1s; }
.letter-container:nth-of-type(16) .bar{ animation-delay: 0.45s; } 
.letter-container:nth-of-type(17) .bar{ animation-delay: 0.20s; } 
.letter-container:nth-of-type(18) .bar{ animation-delay: 0.77s; }
.letter-container:nth-of-type(19) .bar{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(20) .bar{ animation-delay: 0.55s; }
.letter-container:nth-of-type(21) .bar{ animation-delay: 0.2s; } 
.letter-container:nth-of-type(22) .bar{ animation-delay: 0.63s; } 
.letter-container:nth-of-type(23) .bar{ animation-delay: 0.16s; } 
.letter-container:nth-of-type(24) .bar{ animation-delay: 0.5s; } 
.letter-container:nth-of-type(25) .bar{ animation-delay: 0.23s; } 
.letter-container:nth-of-type(26) .bar{ animation-delay: 0.6s; }
.letter-container:nth-of-type(27) .bar{ animation-delay: 0.1s; } 
.letter-container:nth-of-type(28) .bar{ animation-delay: 0.64s; } 
.letter-container:nth-of-type(29) .bar{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(30) .bar{ animation-delay: 0.73s; } 
.letter-container:nth-of-type(31) .bar{ animation-delay: 0.30s; } 
.letter-container:nth-of-type(32) .bar{ animation-delay: 0.1s; }
.letter-container:nth-of-type(33) .bar{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(34) .bar{ animation-delay: 0.70s; } 
.letter-container:nth-of-type(35) .bar{ animation-delay: 0.22s; }
.letter-container:nth-of-type(36) .bar{ animation-delay: 0.75s; } 
.letter-container:nth-of-type(37) .bar{ animation-delay: 0.26s; } 
.letter-container:nth-of-type(38) .bar{ animation-delay: 0.58s; }
.letter-container:nth-of-type(39) .bar{ animation-delay: 0.33s; } 
.letter-container:nth-of-type(40) .bar{ animation-delay: 0.66s; }

.findNextGame {
    font-size: 12px;
    color: RGB(233,233,233);
    width: 285px;
    height: 30px;
    margin: 10px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findNextGame:hover {
    color: RGB(100,100,100);
}

.players {
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 12px;
}

.progress-good{
    color: green;
}

.progress-caution{
    color: yellow;
}

.progress-bad{
    color: red;
}

.turn {
    width: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jersey';
}

.latency{
    font-size: 13px;
    margin-left: 15px;
    margin-top: 23px;
    float: left;
    width: 3em;
}

img.skull{
    width: 60px;
    height: 60px;
}
img.smiley{
    width: 35px;
    height: 35px;
}

.wrong-guesses-grid{
    display: inline-grid;
    font-size: 22px;
    grid-template-columns: 30px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px;
    margin: 1px 40px 0px 40px;
    width: 35px;
}

.wrong {
    color: red;
}
.wrong-guesses-grid-item{
    text-align: center;
}

.wrong-guesses-grid-item:nth-child(1){
    border-bottom: 1px solid RGB(233,233,233);
    border-right: 2px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(2){
    border-top: 1px solid RGB(233,233,233);
    border-left: 2px solid RGB(233,233,233);
    border-bottom: 1px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(3){
    border-top: 1px solid RGB(233,233,233);
    border-right: 2px solid RGB(233,233,233);
    border-bottom: 1px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(4){
    border-bottom: 1px solid RGB(233,233,233);
    border-left: 2px solid RGB(233,233,233);
    border-top: 1px solid RGB(233,233,233);
}
.wrong-guesses-grid-item:nth-child(5){
    border-top: 1px solid RGB(233,233,233);
    border-right: 2px solid RGB(233,233,233);
    border-bottom: 1px solid RGB(233,233,233);
}

.wrong-guesses-grid-item:nth-child(6){
    border-top: 1px solid RGB(233,233,233);
    border-left: 2px solid RGB(233,233,233);
}
.main-container{
    display: flex;   
    align-items: center;
}

.search {
    width: 400px;
    height: 300px;
    border: 1px solid RGB(6,6,6);
    border-radius: 10% 25% 10% 25%;
    background-color: RGBA(6,6,6, 0.5);
    position: absolute;
    top: 0px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosearch{
    visibility: hidden;
}