@font-face {
    font-family: 'Jersey';
    src: url("../../public/fonts/jersey/JerseyM54-aLX9.ttf");
}

@font-face {
    font-family: 'Pixel';
    src: url("../../public/fonts/pixel/PixelEmulator-xq08.ttf");
}

html, body, #root {
    height: 100%;
}
  
.app {
    height: 100%;
}

.app--prmry {
    background-color: RGB(38,38,38);
    background: url("../../public/desktopbackground-min.jpg") no-repeat;
}