.scrl {
    height: 90%;
    width: 15%;
    overflow-y: hidden;
    margin: 0px 3px;
}

.scrl-btn{
    height: 10%;
    border-radius: 25%;
    transition: border-width 0.2s;
}

.scrl-btn-dwn, .scrl-btn-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.scrl-btn-up {
    border-bottom: 4px solid;
}

.scrl-btn-dwn { 
    border-top: 4px solid;
}

@media only screen and (min-width: 400px){
    .scrl-btn-dwn, .scrl-btn-up {
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
    .scrl-btn-up {
        border-bottom: 8px solid;
    }
    .scrl-btn-dwn { 
        border-top: 8px solid;
    }
}

@media only screen and (min-width: 800px){
    .scrl-btn-dwn, .scrl-btn-up {
        width: 0; 
        height: 0; 
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
    }
    .scrl-btn-up {
        border-bottom: 16px solid;
    }
    .scrl-btn-dwn { 
        border-top: 16px solid;
    }
}

.scrl-btn-up-red, .scrl-btn-dwn-red {
    color: red;
}

.scrl-btn-styl-1{
    border: 2px solid RGB(233,233,233);
    background-color: RGB(6,6,6);
}

.scrl-btn:hover{
    border-color: RGB(100,100,100);
}

.scrl-bdy {
    height: 77%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.scrl-itm {
    height: 18%;
    position: relative;
    transition: top 2s, width 0.2s;
}

.scrl-itm-styl-1{
    border: 2px solid RGB(168, 161, 161);
    border-radius: 25%;
    background-color: RGB(6,6,6);
    font-size: 100%;
}

.scrl-itm:hover {
    color: red;   
    border-color: RGB(100,100,100);
}

.scrl-itm-big {
    width: 85%;
}

.scrl-itm-big:hover{
    width: 90%;
}

.scrl-itm-sml:hover{
    width: 70%;
}

.scrl-itm-sml{
    width: 75%;
}

.scrl-itm-cntnt {
    animation: 0.25s ease-out 0s 1 becomeVisible;
}

.scrl-itm-wrng{
    width: 2.5em;
    height: 2.5em; 
}
.scrl-itm-crct{
    width: 1.5em;
    height: 1.5em;
}
