.scrl {
    height: 90%;
    width: 15%;
    overflow-y: hidden;
    margin: 0px 3px;
}

.scrl__btn{
    height: 10%;
    border-radius: 25%;
    transition: border-width 0.2s;
}

.scrl__ptr-dwn, .scrl__ptr-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.scrl__ptr-up {
    border-bottom: 4px solid;
}

.scrl__ptr-dwn { 
    border-top: 4px solid;
}


.scrl__btn--prmry{
    border: 2px solid RGB(233,233,233);
    background-color: RGB(6,6,6);
}

.scrl__btn:hover,
.scrl__btn:focus{
    border-color: RGB(100,100,100);
}

.scrl__bdy {
    height: 77%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.scrl__itm {
    height: 18%;
    position: relative;
    transition: top 2s, width 0.2s;
    font-size: 100%;
}

.scrl__itm--prmry{
    border: 2px solid RGB(168, 161, 161);
    border-radius: 25%;
    background-color: RGB(6,6,6);
}

.scrl__itm:hover,
.scrl__itm:focus {
    color: red;   
    border-color: RGB(100,100,100);
}

.scrl__itm--big {
    width: 85%;
}

.scrl__itm--big:hover,
.scrl__itm--big:focus{
    width: 90%;
}

.scrl__itm--sml:hover,
.scrl__itm--sml:focus{
    width: 70%;
}

.scrl__itm--sml{
    width: 75%;
}

.scrl__cntnt {
    animation: 0.25s ease-out 0s 1 becomeVisible;
}

.scrl__wrng{
    width: 2.5em;
    height: 2.5em; 
}

.scrl__crct{
    width: 1.5em;
    height: 1.5em;
}

@media only screen and (min-width: 375px){
    .scrl__ptr-dwn, .scrl__ptr-up {
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
    .scrl__ptr-up {
        border-bottom: 8px solid;
    }
    .scrl__ptr-dwn { 
        border-top: 8px solid;
    }
}

@media only screen and (min-width: 800px){
    .scrl__ptr-dwn, .scrl__ptr-up {
        width: 0; 
        height: 0; 
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
    }
    .scrl__ptr-up {
        border-bottom: 16px solid;
    }
    .scrl__ptr-dwn { 
        border-top: 16px solid;
    }
}