.srch {
    border-radius: 10% 25% 10% 25%;
    font-size: 100%;
}

.srch-lrg {
    width: 100%;
    height: 100%;
}

.srch-styl-1 {
    border: 1px solid RGB(6,6,6);
    background-color: RGBA(6,6,6, 0.5);
    color: red;  
}

.no-srch {
    visibility: hidden;
}