.wrng-gss-grd {
    display: inline-grid;
    font-size: 93%; 
    grid-template-columns: 100%;
    grid-template-rows: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
    height: 100%;
    width: 11%;
    margin-left: 12%;
    margin-right: 12%;
}

.wrng-gss-grd__itm {
    text-align: center;
}

.wrng-gss-grd__itm:nth-child(1) {
    border-bottom-width: 1px;
    border-right-width: 2px;
    border-style: solid;
}

.wrng-gss-grd__itm:nth-child(2) {
    border-top-width: 1px;
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-style: solid;
}

.wrng-gss-grd__itm:nth-child(3) {
    border-top-width: 1px;
    border-right-width: 2px; 
    border-bottom-width: 1px;
    border-style: solid;
}

.wrng-gss-grd__itm:nth-child(4) {
    border-bottom-width: 1px;
    border-left-width: 2px;
    border-top-width: 1px;
    border-style: solid;
}

.wrng-gss-grd__itm:nth-child(5) {
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-style: solid;
}

.wrng-gss-grd__itm:nth-child(6) {
    border-top-width: 1px;
    border-left-width: 2px;
    border-style: solid;
}

.wrng-gss-grd__itm--prmry {
    border-color: RGB(233,233,233);
}